/.vscode
/Untitled-1.js
/assignment1.md
/node_modules

/servev1.js
/usbsync_rsyncfilelist.tmp
temp_bank*
temp_user*

user.json
.env
.env.development
.env.production
.env.test

coverage/
.nyc_output/
test-results/