extends layout.pug

block content

    .containerCreateAccount
      form(method="post" action="/create-account")
        h3 Create Your Account
        .formInner 
        
          input(type="email" id="email" name="email" placeholder="Email" required)          
          input(type="password" id="password" name="password" placeholder="Password" required)
        
        .buttonLink
        
            input(type="submit" value="SIGN UP")
            a(class= "linkSignUp" href="#") Already have an account? Login!