extends layout.pug
    
block content  
    .containerLP

            form(method="post" action="/login-page") 
                    input(type="text"   id="email" name="email" placeholder="Enter E-Mail" required)
                    input(type="password"   id="password" name="password" placeholder="Enter password" required)
                    .btn
                        input( type="submitLP" value="Sign In")

            a(href="#" class ="linkLP") Dont have an account? Sign up      