extends layout.pug
    
block content  
    .containerLP
            form(method="post" action="/login-page") 
                    input(type="text"   id="email" name="email" placeholder="Enter E-Mail" required)
                    input(type="password"   id="password" name="password" placeholder="Enter password" required)
                    .btn
                        input(type="submit" value="SIGN IN")

            a(href="#" class ="buttonLink") Dont have an account? Sign up      