extends layout.pug

block content
    .container-user-dashboard.form-page-container
        .user-dashboard-form
            .user-dashboard-header
                h2(class="dashboard-heading") Dashboard
                span(class="welcome-text") Welcome to Quizzy!
                img(src='/img/Logout.webp' class="logout-img" alt='Quizzy Logo',)
            
            p(class="info-text") Select the quiz type you want to play
            .quiz-main-rectangle
                .upper-rectangle
                    label(class="quiz-lable") Quizzes                
                each quiz, n in quizzes
                    .quiz-rectangle
                        a(href= `/quiz/${quiz}` class="quiz-name") #{quiz}
                        div.quiz-buttons
                            img(src='/img/data-analysis.webp' class="analysis-img" alt='preview')
                            | &nbsp;
                            a(href="#" class="analysis-preview-name") Analyze                   
                            img(src='/img/preview.png' alt='preview' class="preview-img")
                            | &nbsp; 
                            a(href="#" class="analysis-preview-name") Preview
