extends layout.pug

block content
    .container-user-dashboard.form-page-container
        .user-dashboard-form
            .user-dashboard-header
                h2(class="dashboard-heading") Dashboard
                span(class="welcome-text") Welcome to Quizzy!
                img(src='/img/Logout.webp' class="logout-img" alt='Quizzy Logo',)
            
            p(class="info-text") Select the quiz type you want to play

            .upper-rectangle
                label(class="quiz-lable") Quizzes
            .quiz-rectangle
                span.link-container
                a(href="#" class="quiz-name") Quiz A
                | &nbsp; &nbsp;
                img(src='/img/data-analysis.webp' class="analysis-img" alt='preview')
                | &nbsp;
                a(href="#" class="analysis-preview-name") Analyze
                | &nbsp; &nbsp;
                img(src='/img/preview.png' alt='preview' class="preview-img")
                | &nbsp; 
                a(href="#" class="analysis-preview-name") Preview

            .quiz-rectangle
                span.link-container
                a(href="#" class="quiz-name") Quiz B
                | &nbsp; &nbsp;
                img(src='/img/data-analysis.webp' class="analysis-img" alt='preview')
                | &nbsp;
                a(href="#" class="analysis-preview-name") Analyze
                | &nbsp; &nbsp;
                img(src='/img/preview.png' alt='preview' class="preview-img")
                | &nbsp; 
                a(href="#" class="analysis-preview-name") Preview

            .last-quiz-rectangle
                span.link-container
                a(href="#" class="quiz-name") Quiz C
                | &nbsp; &nbsp;
                img(src='/img/data-analysis.webp' class="analysis-img" alt='preview')
                | &nbsp;
                a(href="#" class="analysis-preview-name") Analyze
                | &nbsp; &nbsp;
                img(src='/img/preview.png' alt='preview' class="preview-img")
                | &nbsp; 
                a(href="#" class="analysis-preview-name") Preview 