extends layout.pug

block scripts 
    script(src='/js/quizadmin.js')

block content 
    .admin-container
        .admin-wrapper 
            h3 Quizzy Admin Panel 
            h4 Hi Admin, here you can able to mange your Quiz, such as, Add New Question,Edit Question, Delete Question.
                br 
                | 1. To do so please select the below appropriate tile to perform action on  your quiz. 
                br 
                | 2.  To Add quiz for particular type, you will have to select the particulate quiz type tile.   
            a(data-toggle="modal", data-target="#createQuizModal") Create New Quiz
            ul(class="admin-quiz-list")
                li 
                    .admin-quiz-list-name Quiz A
                    a.admin-quiz-list-link Edit
                    a.admin-quiz-list-link Analyze
                li 
                    .admin-quiz-list-name Quiz B
                    a.admin-quiz-list-link Edit
                    a.admin-quiz-list-link Analyze
                li 
                    .admin-quiz-list-name Quiz C
                    a.admin-quiz-list-link Edit
                    a.admin-quiz-list-link Analyze
                li 
                    .admin-quiz-list-name Quiz D
                    a.admin-quiz-list-link Edit
                    a.admin-quiz-list-link Analyze 
    .modal.fade(id="createQuizModal", tabindex="-1", role="dialog", aria-hiddden="true")
        .modal-dialog
            .modal-content
                .modal-header
                    button.close(type="button", data-dismiss="modal", aria-label="Close")
                        span(aria-hidden="true") &times;
                    h3 Add New Quiz
                .modal-body
                    input(type="text" id="quizname" name="quizname" placeholder="Type Your Quiz Name")
                    button.create-quiz-btn.btn.btn-primary Create Quiz

                    

