.container-user-dashboard{
  flex-direction: column;
  max-width: 100%;
  margin: 0 auto;
}

.user-dashboard-header {
  display: flex;
  align-items: flex-end;
  padding-bottom: 8px;
}
.user-dashboard-header h2 {
  margin-bottom: 0;
}

.welcome-text{
  font-size: 18px; 
  color: #4A4A4A;
  margin-left: 24px;
}

.logout-img{
  height: 28px;
  margin-left: auto;
  /* width: 30px; */
}

.info-text{
  font-size: 18px;
  color: black;
  border-top: 1.5px solid #aba9a9;
  text-align: center;
  padding: 16px 0 8px;
}

.upper-rectangle {
  border-bottom: 1px solid #646464;
  padding: 10px;
  display: inline-block;
  width: 100%;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  background-color: #CEC8C8;
}

.quiz-lable{
  color: black;
  margin-left: 23px
}

.quiz-rectangle{
  border-bottom: 1px solid #646464;
  width: 100%;
  padding: 16px 32px;  
  display: flex;
  justify-content: space-between;
}
.quiz-main-rectangle{
  border: 1px solid #646464;
  border-radius: 8px;
}

.analysis-img{
  height: 20px;
 
}

.analysis-preview-name{
  display: inline-block;
}

.preview-img{
  height: 23px;
  margin-left: 40px;    
}

.quiz-buttons{
  flex: 1;
  text-align: right;
}

.quiz-rectangle:last-child {
  border-bottom: none;
}