extends layout.pug

block content
	.form-page-container
		.form-wrapper
			h3 Create Your Account
			form(method="post" action="/users/create")
				input(type="email" id="email" name="email" placeholder="Email" required)          
				input(type="password" id="password" name="password" placeholder="Password" required)
				
				.button-wrapper
					input(type="submit" value="SIGN UP" class="btn btn-primary")
					a(class="button-link" href="/users/login") Already have an account? Login!
